@use '../sass/variables' as v;

.main-wrapper {
    display: grid;
    max-width: v.$desktop-width;
    margin: auto;

    gap: 2rem;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    'header header header'
    'highlight highlight news'
    'highlight highlight news'
    'top top top'
    ;


    @media (max-width: v.$tablet-width) {
        grid-template-areas: 
        'header'
        'highlight'
        'news'
        'top'
        ;

        gap: 0;
        row-gap: 2rem;
        grid-template-columns: 1fr;

        padding: 1rem;
    }

    padding: 6rem;
}